<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	  <p>Dear <%= @follower.first_name %>,</p>
	  <p>You've been invited by <%= @initiator.first_name %> to work through a fun project to improve your team communications.</p>
	  <p>It starts with you having five people, who know you well, to take a super short survey about you. It takes less than three minutes.</p>
	  <p>All they have to do is pick five things people need to know when communicating with you!</p>
	  <p><strong>Important:</strong> share <a href='http://wwww.betterteams.co/comms_surveys/new' + '<%= @params %>'>this link</a> to take the survey. It's your personal survey link.</p>
<!-- link to comms survey that they should send around. -->
<!-- link to status of comms surveys -->
  </body>
</html>
