	<div class="row">
		<canvas id="discChart"></canvas>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h3>Driver</h3>
			<p>Drivers place an emphasis on shaping the environment by overcoming opposition to accomplish results.</p>

			<p>A person with a D style 
			is motivated by winning, competition and success;
			prioritizes accepting challenge, taking action and achieving immediate results;
			is described as direct, demanding, forceful, strong willed, driven, and determined, fast-paced, and self-confident;
			may be limited by lack of concern for others, impatience and open skepticism;
			may fear being seen as vulnerable or being taken advantage of;
			values competency, action, concrete results, personal freedom, challenges.</p>
			<p>Goals:

			unique accomplishments,
			new opportunities,
			control of audience,
			independence.</p>
			<p>Will need to expend more energy to:
			show patience,
			display sensitivity,
			get into the details,
			allow deliberation.</p>
			<p>When communicating with the D style individuals, give them the bottom line, be brief, focus your discussion narrowly, avoid making generalizations, refrain from repeating yourself, and focus on solutions rather than problems.

			DISC Classic Patterns: Developer, Results Orientated, Inspirational and Creative</p>
		</div>
		<div class="col-md-3">
			<h3>Influencer</h3>
			<p>People with the I style place an emphasis on shaping the environment by influencing or persuading others.</p>

			<p>A person with an I style may be limited by being impulsive and disorganized and having lack of follow-through;
			is described as convincing, magnetic, enthusiastic, warm, trusting and optimistic;
			prioritizes taking action, collaboration, and expressing enthusiasm;
			is motivated by social recognition, group activities, and relationships;
			may fear loss of influence, disapproval and being ignored;
			values coaching and counseling, freedom of expression and democratic relationships.</p>
			<p>Goals:

			victory with flair,
			friendship and happiness,
			authority and prestige status symbols,
			popularity.</p>
			<p>Will need to expend more energy to:
			follow-through completely,
			research all the facts,
			speak directly and candidly,
			stay focused for long periods.</p>
			<p>When communicating with the i style individual, share your experiences, allow the i style person time to ask questions and talk themselves, focus on the positives, avoid overloading them with details, and don't interrupt them.

			DISC Classic Patterns: Promoter, Persuader, Counselor, Appraiser</p>
		</div>
		<div class="col-md-3">
			<h3>Sociable</h3>
			<p>People with the S style place an emphasis on cooperating with others within existing circumstances to carry out the task.</p>

			<p>A person with an S style

			is motivated by cooperation, opportunities to help and sincere appreciation;
			prioritizes giving support, collaboration and maintaining stability;
			is described as calm, patient, predictable, deliberate, stable and consistent;
			may be limited by being indecisive, overly accommodating and tendency to avoid change;
			may fear change, loss of stability and offending others;
			values loyalty, helping others and security.</p>
			<p>Goals:

			personal accomplishments,
			group acceptance,
			power through formal roles and positions of authority,
			maintenance of status quo and controlled environment.</p>

			<p>Will need to expend more energy to:

			quickly adapt to change or unclear expectations;
			multitask;
			promote themselves;
			confront others.</p>
			<p>When communicating with the S style individuals, be personal and amiable, express your interest in them and what you expect from them, take time to provide clarification, be polite, and avoid being confrontational, overly aggressive or rude.

			DISC Classic Patterns: Specialist, Achiever, Agent, Investigator</p>
		</div>
		<div class="col-md-3">
			<h3>Conscientious</h3>
			<p>People with the C style place an emphasis on working conscientiously within existing circumstances to ensure quality and accuracy.</p>

			<p>A person with a C style

			is motivated by opportunities to gain knowledge, showing their expertise, and quality work;
			prioritizes ensuring accuracy, maintaining stability, and challenging assumptions;
			is described as careful, cautious, systematic, diplomatic, accurate and tactful;
			may be limited by being overcritical, overanalyzing and isolating themselves;
			may fear criticism and being wrong;
			values quality and accuracy.</p>
			<p>Goals:

			unique accomplishments,
			correctness,
			stability,
			predictable accomplishments,
			personal growth.</p>
			<p>Will need to expend more energy to:

			let go of and delegate tasks,
			compromise for the good of the team,
			join in social events and celebrations,
			make quick decisions</p>
			<p>When communicating with the C style individual, focus on facts and details; minimize "pep talk" or emotional language; be patient, persistent and diplomatic.

			DISC Classic Patterns: Objective Thinker, Perfectionist, Practitioner</p>
		</div>
	</div>
	<p>Source: https://www.discprofile.com/what-is-disc/overview/</p>
<script type="text/javascript">
	var ctx = document.getElementById("discChart").getContext("2d");
	document.getElementById("discChart").width = 800;
	document.getElementById("discChart").height = 500;

	var data = {
		labels: ["Driver", "Influencer", "Sociable", "Conscientious"],
		datasets: [
		    {
		        data: [ <%= @disc_assessment.driver_score %>,
					 	<%= @disc_assessment.influencer_score%>,
						<%= @disc_assessment.sociable_score %>,
						<%= @disc_assessment.conscientious_score %>
				],
				fillColor: "rgba(220,220,220,0.2)",
				strokeColor: "rgba(220,220,220,1)",
				pointColor: "rgba(220,220,220,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(220,220,220,1)"
		    }
		]
	};
	
	var myRadarChart = new Chart(ctx).Radar(data);
	//new Chart(ctx).PolarArea(data, options);
</script>