<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
		<a class="navbar-brand" href="#">Better Teams</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Take the Assessment</a></li>
        <li><a href="/pages/user_dashboard">My Dashboard</a></li>
        <li><a href="/improvement_plans">Improvement Plans</a></li>
		<% if user_signed_in? %>
			<% if current_user.is_a_manager %>
				<li><a href="/job_postings">Gap Analysis</a></li>
				<li><a href="/job_postings/new">Post a Job</a></li>
			<% end %>
			<li><a href="/users/sign_out">Sign Out</a></li>
			<li><a href="#"><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></a></li>
		<% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>