<div class="container">
	<div class="jumbotron">
		<h1>You're hiring and you need them to hit the ground running.</h1>
		<h1>But you're swimming in resumes!</h1>
		<p>Resumes show technical qualifications, but you don't know if they'll thrive with the role. Plus, you have piles and piles of them.</p>
		<p>You need someone to fit your team. They need to take the job and run with it. They need to get your culture. So, how do you make that happen? Think you can figure it out in the interview?</p>
		<p>Planning on trusting your gut?</p>
	</div>	
	<div class="page-header">
		<h1>Don't trust your gut</h1>
		<div class="row">
			<div class="col-md-3">
		  		<img class="img-circle" src="http://justlikethenumber.com/media/gamedayangie.jpg" width="100%">
			</div>
			<div class="col-md-9">
				<p>Instead of looking for good vibes, use a scientific test optimized over 20 years of practical application.</p>
				<p>The DISC profile (Driver, Influencer, Sociable, Conscientious) is used by Fortune 500 companies and leadership groups like Tony Robbins. It takes just 10 minutes. We use two other widely-accepted tests to learn even more about personal values and soft skills.</p>
				<p class="lead">The assessments together tell you if the person is a <strong>natural fit</strong> for the demands of the role, regardless of what's on the resume.</p> 
			</div>
	</div>
	<div class="page-header">
		<h1>The tests are ridiculously easy to take</h1>
		<div class="row">
			<div class="col-md-8">
				<p class="lead">Candidates will thank you for being so tech savvy. They'll know they're trying to join a solid company that cares about their people.</p>
				<p>Three tests in all take about 20 minutes.</p>
				<p>It's crazy how accurate they are.</p>
				<p>Scored immediately, both you and the candidate will have instant feedback (and some big time personal insights).</p>
			</div>
			<div class="col-md-4">
				<%= image_tag "disc_screenshot.png", width: "100%" %>
			</div>
		</div>
	</div>
	<div class="page-header">
		<h1>So now that you know who they are, how do you know if they'll fit?</h1>
		<div class="row">
			<div class="col-md-6">
				<p class="lead">It's interesting to learn about ourselves. But you're not in business just for fun insights. You want to win.</p>
				<p>We pull data from a multi-decade, ongoing Department of Labor study that analyzes the best behavior and value traits for 1000 job titles, like "Receptionist", "Bookkeeper", "Home Appliance Repairer".</p>
			</div>
			<div class="col-md-6">
				<%= image_tag "job_posting.png", width: "80%" %>
			</div>
		</div>
	<div class="page-header">
		<h1>You instantly get the best profile for any of 1000 roles.</h1>
		<div class="row">
			<%= image_tag "job_posting_traits.png", width: "80%" %>
		</div>
	</div>
	<div class="page-header">
		<h1>Pretty powerful!</h1>
		<div class="row">
			<div class="col-md-4">
				<img width="100%" class="img-circle" src="http://blog.cmbinfo.com/Portals/75217/images/Conference%20table%20scorecard-resized-600.jpg">
			</div>
			<div class="col-md-8">
				<p class="lead">Then we compare those results to your candidate, and instantly give him or her a score out of 100 to show how close the match is. The higher, the better.</p>
			</div>
		</div>
		<div class="row">
			<h1>Only reach out to the people who fit. Dump 75% (or more) of your resumes.</h1>
			<div class="col-md-4"></div>
			<div class="col-md-4"><%= image_tag "job_rankings.png", width: "100%" %></div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<h3>Let's talk</h3>
	<p>Call (843) 991-5656 or <a href="mailto:whelan@gmail.com">send an email to Rob</a> and we'll have you going in no time.</p>
	<p>Currently taking just a few select companies to participate in our beta.</p>
</div><!-- /container -->