<div class="container">
	<div id="addedUser">
		<input class="form-control typeahead" placeholder="Add Someone To The Mix">
	</div>
	<div role="tabpanel">

	<!-- Nav tabs -->
	<h3 id="selfName"><span class="glyphicon glyphicon-user" style="color:rgba(220,220,220,1);" aria-hidden="true"></span> Me</h3>
	<h3 id="otherUserName" class="hidden"><span class="glyphicon glyphicon-user" style="color:rgba(151,187,205,1);" aria-hidden="true"></span></h3>
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#discs" aria-controls="discs" role="tab" data-toggle="tab">Behaviors</a></li>
		<li role="presentation"><a href="#values" aria-controls="values" role="tab" data-toggle="tab">Values</a></li>
		<li role="presentation"><a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">Soft Skills</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="discs">
			<%= render 'shared/disc_chart' %>
		</div>
		<div role="tabpanel" class="tab-pane" id="values">
			<%= render 'shared/value_chart' %>
		</div>
		<div role="tabpanel" class="tab-pane" id="skills">
			<%= render 'shared/skill_chart' %>
		</div>
	</div>

	</div>
</div>