<p id="notice"><%= notice %></p>
<!-- put all 15 questions with ajax updates -->
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 content">
			<h3>Pick at least five things that are really important to know when communicating with <%= @comms_survey.user.first_name %>.</h3>
			<% @survey_scores.each do |s| %>
				<h3><button class="btn btn-lg btn-default survey-check" data-checked="false" data-survey-score-id='<%= s.id %>'>&nbsp;</button><%= s.comms_question.body %></h3>
			<% end %>
		</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<button id="submitButton" class="btn btn-lg btn-block btn-success disabled">Save</button>
		</div>
		<div class="col-md-2"></div>
	</div>		

<script type="text/javascript">
$( document ).ready(function() {
	$('.survey-check').click(function(){
		var params = "?s=" + $(this).attr('data-survey-score-id');
		if( $(this).attr('data-checked') == "false" ){
			$.get('/pages/increment_survey' + params);
		} else {
			$.get('/pages/decrement_survey' + params);						
		}//ajax to create survey score
	});
	
	$('#submitButton').click(function(){
		$('.col-md-8').html("");
		$('.content').html("<h1>All done!</h1><h3><a href='/'>Click here</a> to take a professional assessment of your own.</h3>");
	})
});
</script>